<nav class="navbar fixed-bottom bottom-nav">
  <div class="container">
    <a href="/" class="bottom-nav__link">
      <i class="fas fa-home"></i>
      <p>Home</p>
    </a>
    <a href="/" class="bottom-nav__link">
      <i class="fas fa-map"></i>
      <p>Set mosque</p>
    </a>
    <a href="/" class="bottom-nav__link">
      <i class="fas fa-plus"></i>
      <p>Ask question</p>
    </a>
    <a href="/" class="bottom-nav__link">
      <i class="fas fa-bookmark"></i>
      <p>Bookmark</p>
    </a>
    <a href="/" class="bottom-nav__link">
      <i class="fas fa-user"></i>
      <p>Profile</p>
    </a>
  </div>
</nav>
