{% extends "layout.twig" %}

{% block body %}


  <div class="container">
    <p class="w3-wide" style="text-align: left">Your Local Mosque</p>
  </div>

<form action="/ask-question" method="GET">
  <select class="custom-select" name="mosque-id">
    <option selected>Open this select menu</option>
    <option value="1">East London mosque</option>
    <option value="2">Manchester central mosque</option>
    <option value="3">Glasgow central mosque</option>
  </select>
  <br><br>
  <button type="submit" class="btn btn-info btn-lg sub-btn">Find mosque</button>
</form>


{% endblock %}
