{% extends 'layout.twig' %}

{% block body %}
<div class="mx-auto text-center" style="width: 200px;">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}!!!</p>
    <button type="button" class="btn btn-outline-info btn-lg">Ask via Mosque</button>
    <br><br>
    <button type="button" class="btn btn-outline-primary btn-lg">Ask General Questions</button>
</div>

{% endblock %}
