{% extends 'layout.twig' %}

{% block body %}
<div class="mx-auto text-center" style="width: 200px;">
    <h1>{{title}}</h1>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Sent!</h1>
            <p class="lead">Your message has been sent to the local imam who will be back to your as soon as possible.</p>
        </div>
    </div>
</div>

{% endblock %}
