{% extends 'layout.twig' %}

{% block body %}
<div class="mx-auto text-center" style="width: 200px;">
    <img class="check" src="images/check.png"></i>
    <h1 class="snt">Sent</h1>
</div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="lead">Your message has been sent to the local imam who will be back to your as soon as possible.</p>
        </div>
    </div>
    <button type="submit" class="btn btn-info btn-lg sub-btn">Back to Home</button>

{% endblock %}
